### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule Fizjoterapia-Hubert-Kostka index.php
RewriteRule O-mnie about-me.php
RewriteRule Oferta offer.php
RewriteRule Galeria gallery.php
RewriteRule Kontakt contact.php
RewriteRule Współpraca cooperation.php 
RewriteRule Logowanie login.php
RewriteRule Terapia-manualna manual-therapy.php
RewriteRule Kinesiotaping kinesiotaping.php
RewriteRule Suche-igłowanie dry-needling.php
RewriteRule Rehabilitacja-ortopedyczna orthopedic-rehabilitation.php