body{
	background: url("img/light-grey-terrazzo.png"); /* www.toptal.com/designers/subtlepatterns/*/
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	margin: 0px;
}

/*nav-bar style*/

#navigation, .navbar .navbar-expand-lg .fixed-top .p-0 {
	background: url("img/tlomenu.jpg");
}

#logoside {
	margin: 0;
}

.navbar-brand {
	max-height: 110px;
}

.navbar-toggler-icon {
	font-size: 30px;
}

#logo {
	margin: 0;
	max-height: 120px;
	width: 100%;
	text-align: center;
}

.nav-fill .nav-item {
	margin: auto 5px;
	padding: 0;
}

.nav-fill .nav-item .nav-link {
	color: rgb(22, 67, 212);
	font-size: 28px;
}

.nav-fill .nav-item .nav-link:hover {
	font-size: 30px;
	color: rgb(7, 118, 209);
	text-decoration: underline;
}

section {
	margin-top: 0px;
	height: auto;
}

.slidshow-container {
	width: 100%;
}

.slider {
	margin-top: 150px;
}


.slides {
	display: none;
	width: 100%;
}

.fade {
	animation-name: fade;
	animation-duration: 2s;
}

.fade:not(.show) {
    opacity: 1;
}

@keyframes fade {
	from{opacity: 0.4;}
	to{opacity: 1;}
}

.slide {
	border-radius: 40px;
	box-shadow: 5px 5px 20px #182019;
	opacity: 0.95;
}

.number {
 	position: absolute;
 	padding: 8px 16px;
 	color: #f2f2f2;
}

.prev,.next {
	position: absolute;
	top: 37%;
	color: #f2f2f2;
	padding: 10px 20px;
	font-size: 28px;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.next {
	right: 15px;
	border-radius: 5px 0 0 5px;
}

.container-fluid .slider .slidshow-container a {
	color: #f2f2f2;
}

.prev:hover,.next:hover {
	background: rgba(0,0,0,0.6);
}

.dots {
	text-align: center;
	padding-top: 25px;
}

.dot {
	width: 13px;
	height: 13px;
	display: inline-block;
	background: rgb(22, 67, 212);
	padding: 15px;
	margin: 15px;
	border-radius: 50%;
	cursor: pointer;
}
.active,.dot:hover {
	background: rgb(168, 12, 12); 
}

#therapies {
	margin-top: 30px;
}

figure {
	padding: 0px;
	text-align: center;
}

.tail {
	max-height: 320px;
	width: 100%; 
	padding: 5px;
	margin: 2px;
	border-radius: 40px;
	box-shadow: 5px 5px 20px #182019;
	opacity: 0.90;
	
}

#therapies .tail:hover{
	opacity: 1;
	transition: 5s easy-in-out;
}

figcaption {
	text-align: center;
	font-style: italic;
	font-size: 30px;
	margin-top: 8px;
}

/*style footer*/

#subscript {
	width: 100%;
	height: 60px;
	background-color: blue;
}

#time {
	font-size: 100%;
	text-align: center;
	margin: auto 0px;
	color: gray;
}

#ftcontact {
	margin: auto 0;
}

#email {
	padding: 0px;
	text-align: center;
	color: gray;
	font-size: 20px;
}

#email-footer {
	padding-left: 10px;
}

#phone {
	text-align: center;
	color: grey;
	font-size: 20px;
	margin: auto 0;
}

#copyright {
	font-size: 10px;
	text-align: right;
}

.scrollup {
	width: 64px;
	height: 64px;
	display: none;
	text-decoration: none;
	background: url("img/up.png") no-repeat 0px 0px;
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 1;
}




body::-webkit-scrollbar {
	width: 13px;
}

body::-webkit-scrollbar-track {
	background: url("img/light-grey-terrazzo.png");
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}

body::-webkit-scrollbar-thumb {
	background-color: #1c74b2;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}



/*Style about-me.html */ 

.about-me {
	padding-top: 150px;
}

.my-photo { 
	margin-bottom: 0;
	
}

.my-photo .img-fluid {
	border-radius: 10px;
	box-shadow: 5px 5px 20px #182019;
}

#my-photo-figcaption {
	font-size: 3vw;
	text-decoration-line: underline;
}

.main-description {
	font-size: 2vw;
	text-align: center;
}

.certyfications {
	padding-top: 20px;
}

.certyficate {
	min-height: 175px;
	max-height: 325px;
	width: 100%; 
	padding: 5px;
	margin: 2px;
	border-radius: 20px;
	box-shadow: 5px 5px 20px #182019;
}

/*style offer*/

#offer {
	margin-top: 150px;
	margin-bottom: 42px;
}

.container .row #offer h1 {
	text-align: center;
	font-style: oblique;
	text-decoration: underline;
	font-weight: bold;
	padding-bottom: 20px;
}

.container .row #offer h3{
	text-align: center;
	font-style: oblique;
	font-weight: bold;
	padding-bottom: 15px;
}

/*style gallery*/

#gallery {
	padding-top: 150px;
}



.tail-gallery {
	max-height: 250px;
	width: 100%; 
	padding: 5px;
	margin: 2px;
	border-radius: 30px;
	box-shadow: 5px 5px 20px #182019;
	opacity: 0.90;
	
}

/* #gallery .tail-gallery:hover{
	opacity: 1;
	transition: 5s easy-in-out;
} */


/*style contact*/

#contact {
	padding-top: 130px;
	padding-bottom: 20px;
}

#contact-details {
	padding: 20px;
}

#phone-box {
	text-align: center;
	padding: 10px 0;
	font-size: 100%;
	margin: auto 0;
}

/* .icon-call {
	font-size: 5vh;
} */

#phone-contact {
	padding-left: 10px;
}

#email-box {
	text-align: center;
	padding: 10px 0;
	color: black;
	font-size: 20px;
}

.icon-gmail {
	size: 30px;
	color: rgb(168, 12, 12);
}

#email-contact {
	padding-left: 10px;
}

#facebook-box {
	text-align: center;
	padding: 2.5px 0;
	color: gray;
	font-size: 20px;
}

.icon-facebook-official {
	color: #1c74b2;
	font-size: 30px;
}

#adress {
	padding: 2px 0;
}

#open-hours {
	padding: 5px 0;
}

#contact-details .container .row  

#map {
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 5px 5px 20px #182019;
}

#entrance-door {
	max-height: 400px;
	padding: 5px;
	margin: 20px 0px;
	border-radius: 5px;
	box-shadow: 5px 5px 20px #182019;
}

.container .row #contact-details h2 {
	text-align: center;
	font-style: oblique;
	font-weight: bold;
	padding-bottom: 15px;
}

.container .row #contact-details h3 {
	text-align: center;
	font-weight: bold;
	padding-bottom: 15px;
}

.container .row #contact-details h4 {
	text-align: center;
	padding: 5px 0px;

}

.container .row #contact-details h5 {
	text-align: center;
}

#email-form {
	padding-bottom: 20px;
}

/*style manual therapy*/
#manual-therapy-container {
	padding-top: 150px;
	margin-bottom: 20px;
}

#manual-therapy-photo {
		padding: 5px;
		margin: 2px;
		border-radius: 20px;
		box-shadow: 5px 5px 20px #182019; 
}

.container .row .manual-therapy-description p {
	text-indent: 30px;
}

.container .row figure figcaption {
	font-size: 3.5vh;
	font-weight: bold;
	margin-top: 20px;
}

.container .row .manual-therapy-description {
	font-size: 3vh;
	text-align: justify;
}

/*style kinesiotaping */

#kinesiotaping-container {
	padding-top: 150px;
	padding-bottom: 30px;
}

#kinesiotaping-photo {
	padding: 5px;
	margin: 2px;
	max-height: 350px;
	border-radius: 20px;
	box-shadow: 5px 5px 20px #182019; 
}

.container .row .kinesiotaping-description p {
	text-indent: 30px;
}

.container .row figure figcaption {
	font-size: 3.5vh;
	font-weight: bold;
	margin-top: 20px;
}

.container .row .kinesiotaping-description {
	font-size: 3.5vh;
	text-align: justify;
}

/*style dry-needling */

#dry-needling-container {
	padding-top: 140px;
	padding-bottom: 20px;
}

#dry-needling-photo {
	padding: 5px;
	margin: 2px;
	border-radius: 20px;
	box-shadow: 5px 5px 20px #182019; 
}

.container .row .dry-needling-description p {
	text-indent: 30px;
}

.container .row figure figcaption {
	font-size: 3.5vh;
	font-weight: bold;
	margin-top: 20px;
}

.container .row .dry-needling-description {
	font-size: 3vh;
	text-align: justify;
	padding-left: 15px;
}

.container .row .dry-needling-description h3 {
	margin: 0;
	font-size: 4vh;
	text-align: center;
}

/*style orthopedic-rehabilitation */

#orthopedic-rehabilitation-container {
	padding-top: 150px;
}

#orthopedic-rehabilitation-photo {
	padding: 5px;
	margin: 2px;
	border-radius: 20px;
	box-shadow: 5px 5px 20px #182019; 
}

.container .row .orthopedic-rehabilitation-description p {
	text-indent: 15px;
}

.container .row figure figcaption {
	font-size: 3.5vh;
	font-weight: bold;
	margin-top: 20px;
}

.container .row .orthopedic-rehabilitation-description {
	font-size: 3vh;
	text-align: justify;
}
